<div class="container">
  <% @registrations.each do |registration| %>
    <%= registration.tournament.city %>
    </br><%= registration.player.last_name %> <%= registration.player.first_name %>
  <% end %>
</div>
