<div class="container container-principal">
  <div class="container">
    <div class="text-center">
      <h2>Modifier un tournoi</h2>
    </div>
    <%= render 'simple_form_for_tournament' %>
  </div>
</div>
