<div class="footer">
  <!-- <div class="container"> -->
  <div>
    <a href="https://www.facebook.com/Maure-Badminton-Club-316591731695603/?fref=ts"><i class="fa fa-facebook icon"></i></a>
  </div>
  <div>
    <a href="https://github.com/CyLemeunier">@CyLemeunier</a>
    <%= mail_to "dev@lemeunier.org" do %>
      <i class="fa fa-envelope-o"></i>
    <% end %>
  </div>
  <!-- </div> -->
</div>
