<%= render 'shared/banner' %>
<div class="container">
  <h2>Gestion des inscriptions aux tournois extérieurs</h2>
  <p>Vous trouverez sur ce site toutes les informations pour vous inscrire aux différents tournois proposés dans le 35, le 22, le 56, le 29 ainsi que les départements non bretons limitrophes.</p>

  <h4>Comment ça marche ?</h4>

  <p>1) Rendez-vous sur la liste des tournois (bouton rouge en haut à droite)</p>
  <p>2) </p>
</div>
