# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ee87c4ee6914a712f1dbebbdfd9092be70b7c0ea98882845553b5afad05ee6f3ded51d1b911b87b641666a69de98d5874173b20b0862aa207570b13898abbe4f

test:
  secret_key_base: 6ef8cd3c1fa04e169f29164cfdb3fe9ff5c4ecc36449fcfe642d493560469f8e958f62e361949467802ca41cfb7df4e2a421b3790f799b10aff575e4cc43163a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
