<div class="container container-principal">
  <%= render 'shared/table_players' %>

  <div class="container">
    <div class="text-center">
      <h3>
        Crédit insuffisant ?
        </br>
        Transmettez un chèque du montant désiré à Anne-Laure GUEHENNEUC qui l'encaissera sur le compte du club et pourra ainsi créditer votre compte du montant correspondant
      </h3>
    </div>
  </div>
</div>
